[package]
name = "rustywind"
version = "0.3.4"
authors = ["Praveen Perera <praveen@avencera.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ignore = "0.4"
regex = "1"
lazy_static = "1.4.0"
itertools = "0.8"
indoc = "0.3"
clap = "2.33"



[dev-dependencies]
pretty_assertions = "0.6"
