[package]
authors = ["Praveen Perera <praveen@avencera.com>"]
edition = "2018"
name = "rustywind"
version = "0.8.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33"
ignore = "0.4"
indoc = "1.0"
itertools = "0.9"
lazy_static = "1.4.0"
rayon = "1.5"
regex = "1"

[dev-dependencies]
pretty_assertions = "0.6"
